/* #03025D, #ecfdff */

.headerContainer {
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: #0050b8;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list li {
    margin: 0 1rem;
}

.list li:hover {
    cursor: pointer;
}

.item p {
    color: #ecfdff;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 15px;
}

.item p:hover {
    background-color: #ecfdff;
    color: #0050b8;
}
.titile {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.titile h2 {
    color: #07d3fe;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 14px;
    margin: 1rem;
    background-color: #040093;
    border: #0b54f4 0.35rem solid;
}

.titile h1 {
    color: #ecfdff;
    font-size: 1.5rem;
    font-weight: 500;

}


.titile h2 {
    .titile h1 {
        display: none;
    }
}
