.card {
    display: flex;
    flex-direction: column;
    margin-right: 0.4rem;
    border: #000 2px solid;
    padding: 3rem;
}
.card input {
    margin: 0.3rem;
    padding: 0.3rem;
    border: none;
    width: 30rem;
    border-radius: 0.3rem;
    outline: none;
}

.card select {
    margin: 0.3rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    outline: none;
}

.bntCriar {
    background-color: yellow;
    color: #000;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    margin-top: 0.5rem;
    width: 30%;
    align-items: center;
    margin: auto;
    margin-top: 2rem
}