.card {
    display: flex;
    flex-direction: column;
    margin-right: 0.4rem;
    /* border: #000 2px solid; */
    padding: 3rem;
    background-color: #0145a7;
}
.card input {
    margin: 0.3rem;
    padding: 0.3rem;
    border: none;
    width: 30rem;
    outline: none;
    background-color: #0044cb;
    color: #99ddff;
    border: 0.3rem solid #0062e5;
}

.card select {
    margin: 0.3rem;
    padding: 0.3rem;
    border: none;
    outline: none;
    background-color: #0044cb;
    color: #99ddff;
    border: 0.3rem solid #0062e5;
}

.bntCriar {
    background-color: yellow;
    color: #000;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    margin-top: 0.5rem;
    width: 30%;
    align-items: center;
    margin: auto;
    margin-top: 2rem
}

.title {
    color: #31a6fd;
}