.fundo{
    background-color: rgb(65, 167, 235);
}

.main {
    background: -webkit-linear-gradient(left, rgb(65, 167, 235) );
    align-items: center;
    text-align: center;
}

.card1 {
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color:    #0050b8;;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #0b54f4;
    margin-top: 20px;
    width: 80%;
}

.card1 p {
   font-size: 16px;
   margin-top: 22px;
   padding: 5px;
   font-family: Arial, Helvetica, sans-serif;
}


.container1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.container2 {
    display: flex;
}

.imgLogo{
    border: 2px solid #0b54f4;
    margin: 5px;
    margin-top: 10px;
}

.imgEquipe{
    border: 2px solid #0b54f4;
    margin: 5px;
}