.container1 {
    background: -webkit-linear-gradient(left, rgb(65, 167, 235) 0%, rgb(62, 106, 201) 100%);
}

.container2 {
    display: flex;
    align-items: center;
    text-align: flex-end;
    padding: 7vh;
    color: white;
}

.container3 {
    background-image: url(https://cdn2.unrealengine.com/fortnite-airphoria-1900x600-c928324c123d.jpg);
    background-size: cover;
    background-position: center;
    height: 330px;
    width: 600px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.container3 h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    padding: 10px;
    margin: 0;
    color: white;
    transition: transform 0.3s, top 0.3s;
    /* Adicione uma transição suave para o efeito de hover */
}

.container3:hover {
    transform: scale(1.05);
    /* Aplica um leve zoom quando o mouse passa sobre o contêiner */
    cursor: pointer;
}



.container4 {
    background-image: url(https://cdn2.unrealengine.com/fncs-global-championship-2023-1900x600-949a1419fabc.jpg);
    background-size: cover;
    background-position: center;
    height: 330px;
    width: 500px;
    margin-left: 5%;
    position: relative;
    transition: transform 0.3s;
    border-radius: 8px;

}

.container4 h1 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    padding: 10px;
    margin: 0;
    color: white;
    transition: transform 0.3s, top 0.3s;
}

.container4:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.cardContainer {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    /* Espaçamento entre os cards */
}

.card1,
.card2,
.card3,
.card4 {
    flex: 1;
    /* Cada card ocupa uma parte igual do espaço disponível */

    padding: 10px;
    background-color: white;
    /* Fundo branco */
    margin: 10px;
    /* Espaçamento entre os cards */
    width: 130px;
    /* Largura do card */
    box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.0);
-webkit-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.30);
-moz-box-shadow: 0px 0px 22px 3px rgba(0,0,0,0.0);

}

.card1 img,
.card2 img,
.card3 img,
.card4 img {
    max-width: 105.6%;
    /* A imagem se ajustará automaticamente à largura do card */
    max-height: 300px;
    /* Altura máxima da imagem */
    object-fit: cover;
    /* Redimensionar a imagem para preencher a área do card */
    margin: -10px;
    height: 200px;

}

.card1 p,
.card2 p,
.card3 p,
.card4 p {
    margin-top: 10px;
    padding: 10px;
    /* Adicione espaço interno ao redor do texto */
    font-size: 35px;
}

.pAzul {
    color: aqua;
    font-size: 25px;
    margin-top: 4%;
}

.card1:hover,
.card2:hover,
.card3:hover
{
    transform: scale(1.05);
    cursor: pointer;
}