.main {
    background: -webkit-linear-gradient(left, rgb(65, 167, 235) 0%, rgb(62, 106, 201) 100%);
}

.containerSkin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: -webkit-linear-gradient(left, rgb(65, 167, 235) 0%, rgb(62, 106, 201) 100%);
    gap: 10px;
}

.vbucks {
    background-color: #000;
    padding: 10px;
}

.vbucksCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vbucksCard img {
    margin-left: 3px;
}

.card:hover {
    .vbucks {
        background-color: yellow;
        color: #000;
    }

    transition: 0.4s;
    border: yellow 2.4px solid;
    ;

}

.cardBnt {
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

.bnt {
    background-color: yellow;
    color: #000;
    cursor: pointer;
    padding: 0.7rem;
    font-size: 1.2rem;
    border: none;
    margin-top: 0.5rem;
    width: 40%;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
}
.bntExit {
    background-color: red;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.2rem;
    /* border-radius: 50%; */
    border: none;
    position: relative;
    right: 2.39%;
}

.cardCreator {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2.5rem 0;

}
.skinpronta{
    align-items: center;
    text-align: center;
}