.containerSkin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: -webkit-linear-gradient(left, rgb(65, 167, 235) 0%, rgb(62, 106, 201) 100%);
    gap: 10px;
}





.vbucksCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vbucksCard img {
    margin-left: 3px;
}

.card:hover {
    .vbucks {
        background-color: yellow;
        color: #000;
    }
    transition: 0.4s;
    border: yellow 2.4px solid; ;

}